

.containerlog{
    background-color: #301008;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
    
  

}

.cardlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label{
    padding: 10%;
    
}
input{
    text-align: center;
    color: black;
    background-color: white;
    margin-bottom: 15%;
    width: 90%;
}

button{
    background-color: #ed0b70;
    width: 90%;
    margin-top: 10%;
    padding: 5%;

}

textarea{
    text-align: center;
    color: black;
    background-color: white;
    margin-bottom: 15%;
    width: 90%;
    
}

.home button{
    width: 100%;
    color: azure;
}

